<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script type="text/javascript" src="{% static 'fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts.charts.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'fusioncharts.theme.candy.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css'%}" >
    <meta charset="UTF-8">
    <title>pH Monitoring</title>
</head>
<body>
    <div class="title">pH monitoring (Bakul Overhead Tank) Dashboard</div><br/>
    <div class="chart-container">
        <div id="pH_value-container" class="container">{{ pH_value_output|safe }}</div>
        <div id="pH_value-container_all" class="container">{{ pH_value_output_all|safe }}</div>
    </div>
</body>
</html>